.App {
  text-align: center;
}

body {
  width: fit-content;
  min-width: 200px;
  height: fit-content;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

  .boxChild {
    display: flex;
    justify-content: space-between;
  }
}

.passwordlengthContainer {
  width: 100%;
  
  #passwordLengthInput {
    width: 100%;
    display: block;
  }
}

.generateButton {
  width: 100%;
  background-color: cadetblue;
  margin-top: 10px;
  padding: 5px;
}

.error-msg {
  color: rgb(255, 0, 0);
}