:root {
  --primary-color: rgb(107, 167, 240);
  --secondary-color: rgb(12, 57, 152);
  --tertiary-color: rgb(21, 83, 216);
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.App {
  text-align: center;
}

body {
  min-width: 400px;
  height: fit-content;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

  .boxChild {
    display: flex;
    justify-content: center;

    button {
      all: unset;
      width: 100%;
      padding: .7rem;
      border: 2px solid var(--primary-color);
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-color);
        color: #fff;
      }

      &.active {
        background-color: var(--tertiary-color);
        color: #fff;
      }

    }
  }
}

.passwordlengthContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;

  label {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  input {
    all: unset;
    padding: .4rem;
    border: 1px solid grey;
    border-radius: 12px;
    text-align: center;
  }
}

.generateButton {
  all: unset;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--primary-color);
  font-weight: 500;
  border-radius: 12px;
  padding: .5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.error-msg {
  color: rgb(255, 0, 0);
}